$color-white: #fdfdff;
$color-white2: #ffff;

$color-grey: #fff9;
$color-grey2: #fff5;
$color-davy-grey: #555;
$color-light-shade-grey: #ddd;
$color-medium-dark-shade-grey: #444;
$color-chinese-silver: #ccc;

$color-darkblue: darkblue;

$color-crimson: crimson;

$rgb-color-red: rgb(214, 10, 10);
$rgb-color-green:  rgb(9, 158, 54);